### Pyspark GroupBy And Aggregate Functions

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv('test4.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
|  Krish|Data Science| 10000|
|  Krish|         IOT|  5000|
| Mahesh|    Big Data|  4000|
|  Krish|    Big Data|  4000|
| Mahesh|Data Science|  3000|
|Sudhans|Data Science| 20000|
|Sudhans|         IOT| 10000|
|Sudhans|    Big Data|  5000|
|  Sunny|Data Science| 10000|
|  Sunny|    Big Data|  2000|
+-------+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
## Groupby
## Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|  Sunny|      12000|
|  Krish|      19000|
|Sudhans|      35000|
| Mahesh|       7000|
+-------+-----------+

In [14]:
### Groupby Departments which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [15]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [17]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [18]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [19]:
df_pyspark.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|  Sunny|      10000|
|  Krish|      10000|
|Sudhans|      20000|
| Mahesh|       4000|
+-------+-----------+

In [20]:
df_pyspark.groupBy('Name').min().show()

+-------+-----------+
|   Name|min(Salary)|
+-------+-----------+
|  Sunny|       2000|
|  Krish|       4000|
|Sudhans|       5000|
| Mahesh|       3000|
+-------+-----------+