In [1]:
from pyspark.sql import SparkSession

In [2]:
spark =  SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [12]:
## read the dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [13]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [15]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 25|         8|
|  Sandesh| 28|         4|
+---------+---+----------+

In [16]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [20]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=25, Experience=8),
 Row(Name='Sandesh', Age=28, Experience=4)]

In [21]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 25|         8|
|  Sandesh| 28|         4|
+---------+---+----------+

In [23]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|  Sandesh|
+---------+

In [24]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|  Sandesh|         4|
+---------+----------+

In [28]:
df_pyspark['Name']

Column<'Name'>

In [29]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [32]:
df_pyspark.describe().show()

+-------+---------+----+-----------------+
|summary|     Name| Age|       Experience|
+-------+---------+----+-----------------+
|  count|        3|   3|                3|
|   mean|     NULL|28.0|7.333333333333333|
| stddev|     NULL| 3.0|3.055050463303893|
|    min|    Krish|  25|                4|
|    max|Sudhanshu|  31|               10|
+-------+---------+----+-----------------+

In [36]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience after 2 year',df_pyspark['Experience']+2)

In [37]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|Age|Experience|Experience after 2 year|
+---------+---+----------+-----------------------+
|    Krish| 31|        10|                     12|
|Sudhanshu| 25|         8|                     10|
|  Sandesh| 28|         4|                      6|
+---------+---+----------+-----------------------+

In [41]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience after 2 year')

In [40]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|Age|Experience|Experience after 2 year|
+---------+---+----------+-----------------------+
|    Krish| 31|        10|                     12|
|Sudhanshu| 25|         8|                     10|
|  Sandesh| 28|         4|                      6|
+---------+---+----------+-----------------------+

In [43]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 25|         8|
|  Sandesh| 28|         4|
+---------+---+----------+