Pyspark Dataframes
Filter operation
&,|,==
~

In [2]:
from pyspark.sql import SpartSession

In [3]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('test3.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 25|         8| 25000|
|  Sandesh| 28|         4| 20000|
|    Sunny| 24|         3| 20000|
|     Paul| 21|         1| 15000|
|    Harsh| 23|         2| 18000|
+---------+---+----------+------+

### Filter Operation

In [6]:
### Salary of the people less than or equal to 20000
df_pyspark.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sandesh| 28|         4| 20000|
|  Sunny| 24|         3| 20000|
|   Paul| 21|         1| 15000|
|  Harsh| 23|         2| 18000|
+-------+---+----------+------+

In [7]:
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Sandesh| 28|
|  Sunny| 24|
|   Paul| 21|
|  Harsh| 23|
+-------+---+

In [10]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sandesh| 28|         4| 20000|
|  Sunny| 24|         3| 20000|
|   Paul| 21|         1| 15000|
|  Harsh| 23|         2| 18000|
+-------+---+----------+------+

In [12]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=18000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sandesh| 28|         4| 20000|
|  Sunny| 24|         3| 20000|
|  Harsh| 23|         2| 18000|
+-------+---+----------+------+

In [13]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=18000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 25|         8| 25000|
|  Sandesh| 28|         4| 20000|
|    Sunny| 24|         3| 20000|
|     Paul| 21|         1| 15000|
|    Harsh| 23|         2| 18000|
+---------+---+----------+------+

In [17]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 25|         8| 25000|
+---------+---+----------+------+